.searchText {
    width: 130px;
    height: 40px;
}

.searchText h1 {
    font-size: 35px;
    font-weight: 700;
    color: #241400;
}

.searchInputButton {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin-top: 45px;
}

.searchInputButton input {
    height: 70px;
    font-size: 23px;
    padding: 20px;
}

.searchInputButton button {
    margin-top: 45px;
    height: 60px;
    background-color: var(--mainColorOrange);
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}

::placeholder {
    text-indent: 30px;
}

.searchMain {
    width: 100%;
    display: flex;
}

.searchTextButon {
    width: 40%;
}

.searchAboutBook {
    width: 60%;
    position: relative;
}

.card {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.insideCard {
    display: flex !important;

}

.insideCard div:first-child {
    margin-top: 65px;
    width: 200px;
    margin-left: 30px;
}

.bookText {
    margin-top: 65px;
    margin-left: 35px;
    margin-right: 50px;
    overflow: scroll;
}

.bookText h2 {
    font-weight: 700;
    font-size: 24px;
    color: var(--mainColorText);
}


.bookText::-webkit-scrollbar {
    width: 10px;
}

.bookText::-webkit-scrollbar-thumb {
    background-color: var(--mainColorOrange);
    /* Scroll thumb rengini istediğiniz renkle değiştirin */
    border-radius: 10px;
}

.bookText::-webkit-scrollbar-track {
    background-color: #FFF;
    border-radius: 10px;
}

.bookText h3 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    color: var(--mainColorText);  
}


.bookText p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: var(--mainColorText);  
}

.prev {
    position: absolute;
    left: -40px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}

.next {
    position: absolute;
    right: -40px;
    bottom: 45%;
    font-size: 30px;
    cursor: pointer;
}

.social-bar {
    margin-top: 300px;
}

