@media screen and (max-width: 1084px) {

    .catalog-btn button {
        width: 180px;
    }

    .score :first-child {
        font-size: 45px;
    }

    .score :nth-child(2) {
        font-size: 10px;
    }

    .join-inp {
        margin-bottom: 30px;
    }

    .join-modal {
        margin: 30px 35px 25px 35px;
    }

    .modal-content {
        margin: 12% auto;
        width: 50%;
    }

}

@media screen and (max-width: 914px) {

    /* Footer Mobile */

    .footer-area {
        flex-direction: column;
        align-items: center;
    }

    .footer-right {
        width: 100%;
        margin-left: 200px;
    }

    .bottom-logo {
        margin-bottom: 36px;
    }

    .join-modal {
        margin: 10px 15px 15px 15px;
    }

    .join-inp {
        margin-bottom: 40px;
    }

    .join-btn :first-child {
        height: 54px;
    }

    .join-modal span {
        font-size: 34px;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 869px) {

    .catalog-btn button {
        width: 130px;
        font-size: 12px;
    }

    .about-score {
        margin-right: -20px;
    }

    .score :first-child {
        font-size: 35px;
    }

    /* Footer Mobile */

    .footer-right {
        width: 100%;
        margin-left: 100px;
    }

    .top-nav {
        display: none;
    }

    .join-us :nth-child(2) {
        display: none;
    }

    .join-us {
        display: none;
    }

    .mobile-ham {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .mobile-ham :first-child {
        margin-right: 22px;
        width: 19px;
    }

    .mobile-ham :nth-child(2) {
        background-color: transparent;
        width: 0;
        border: none;
        outline: none;
    }

    .modal-content {
        width: 60%;
    }

}

@media screen and (max-width: 697px) {

    .first-sec {
        display: flex;
        flex-direction: column-reverse;
    }

    .first-right-sec {
        width: 100%;
        margin: 0;
        margin-bottom: 46px;
    }

    .first-left-sec {
        width: 80%;
        text-align: center;
    }

    .contain {
        width: 90%;
    }

    .second-sec {
        margin: 0;
        margin-bottom: 93px;
    }

    .catalog-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .catalog-btn {
        display: flex;
        flex-direction: column;
    }

    .catalog-btn button {
        width: 263px;
        font-size: 14px;
        margin: 0;
        margin-bottom: 15px;
    }

    .mobile-catalog-1 {
        margin: 0;
    }

    .mobile-catalog button {
        margin: 0;
        margin-bottom: 15px !important;
    }

    .third-sec {
        margin-bottom: 93px;
    }

    .about {
        margin-right: 25px;
        margin-bottom: 51px;
    }

    .about-score {
        display: flex;
        flex-direction: column;
    }

    .score {
        margin-bottom: 25px;
    }

    .score :first-child {
        font-size: 50px;
    }

    .score :nth-child(2) {
        font-size: 14px;
    }

    .four-sec {
        margin-bottom: 154px;
    }

    /* Footer Mobile */

    .footer-right {
        display: flex;
        margin-left: 10px;
        width: 75%;
    }

    .footer-nav {
        margin-right: 15px;
    }

    .modal-content {
        margin: 20% auto;
        width: 60%;
    }

    .modal {
        padding-top: 50px;
    }

    .join-modal {
        margin: 5px 5px 5px 5px;
    }

    .join-inp {
        margin-bottom: 10px;
    }

    .join-inp input {
        font-size: 12px;
        margin-bottom: 14px !important;
        padding: 10px 0 10px 14px;
    }

    .join-btn :first-child {
        height: 28px;
        font-size: 14px;
    }

    .join-modal span {
        font-size: 24px;
        margin-bottom: 24px;
    }

}

@media screen and (max-width:440px) {

    .follow {
        text-align: center;
    }

    .media-icon a img {
        width: 50px;
    }

    .second-sec {
        margin-left: 20px;
    }

    .modal-content {
        width: 70%;
    }

}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}