
@media screen and (max-width: 1120px) {

       .searchMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    

    .searchAboutBook {
    width: 100%;
    position: relative;
    }

    .searchTextButon {
    width: 100%;
    }

    .card {
        padding: 20px;
    }

    .searchInputButton {
        width: 100%;
    }

    .searchText {
        text-align: center;
        width: 100%;
    }

    .prev {
    position: absolute;
    left: -40px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}    

.next {
    position: absolute;
    right: -40px;
    bottom: 45%;
    font-size: 30px;
    cursor: pointer;
} 

}

@media screen and (max-width: 700px) {

    .insideCard {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .insideCard div:first-child{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .prev {
    position: absolute;
    left: -40px;
    top: 60%;
    font-size: 30px;
    cursor: pointer;
}    

    .next {
    position: absolute;
    right: -40px;
    bottom: 35%;
    font-size: 30px;
    cursor: pointer;
    } 


}